# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# turbo
.turbo/

# testing
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/db/prisma/*.db

# uploads (local dev only)
uploads/
